/* Banner Section CSS*/

body {
    font-family: 'Merriweather';
    /*background: linear-gradient(90deg, rgba(5, 44, 79, 0.9754026610644257) 0%, rgba(34, 108, 240, 1) 100%);*/
}



.banner-img {
    position: relative;
    text-align: center;
    border-radius: 16px;
}


.banner-title {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 20px;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: 'Merriweather';
    font-size: 50px;
}

.NewYear {
    margin-bottom: 50px;
}

.NewYear>img {
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}


.NewYear-Text>h1 {
    color: red;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: bolder;
}

.NewYear-Text>h4 {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.NewYear-Text>h2 {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Mid Section CSS */

.midSection {
    position: relative;
    text-align: center;
    border-radius: 16px;
}

.midSection-Title {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #FFF;
    text-align: left;
    font-family: 'Merriweather';
    font-size: 30px;
    letter-spacing: 10px;
}

.midSection-text {
    position: absolute;
    top: 50%;
    left: 10%;
    color: #FFF;
    text-align: left;
    font-family: 'Merriweather';
    font-size: 15px;
}

.midSection-img-1 {
    position: relative;
    top: 0;
    left: 0;
    border: none;
}

.midSection-img-2 {
    position: absolute;
    top: 30px;
    right: 20px;
    border: none;
}

.midSection-btn {
    top: 85%;
    left: 10%;
    position: absolute;
}

/* Info Css*/

.info {
    text-align: center;
    background-color: rgb(226, 186, 186);
    height: 180px;
    width: 800px;
    background-position: center;
    margin-left: 20%;
}

/* offer css*/

.offer {
    align-items: center;
}

.offer>h4 {
    color: red;
    align-items: left;
}

.offer>h6 {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}

.offer-img1 {
    border: 15px solid;
    border-color: red;
    border-radius: 463px;
    padding: 3%;

}

.offer-img2 {}




.offer2 {
    text-align: center;
}

.offer2>h5 {
    color: #070211;
    font-family: Inter;
    font-size: 15px;
    margin-top: 0px;
}

.offer3>h2 {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    margin-top: 0px;
}


.offer2>p {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    margin-top: 0px;
}


/* Image Design */

.img-design {
    align-items: center;
    margin: 5px 5px 5px 5px;
    height: 250px;
    width: 1120px;
    position: relative;
}

.img-design-box {
    height: 400px;
    width: 400px;
    position: relative;
    z-index: 1;
}

.img-design-woman {
    height: 200px;
    width: 200px;
    position: relative;
    z-index: 2;
}

.img-design-discount {
    height: 100px;
    width: 100px;
}

/* portfolio css */

.portfolio {
    text-align: left;
    margin-left: 10px;
}

.portfolio>h5 {
    color: #F00;
    font-family: Inter;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 0px;
}

.portfolio>h2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 30px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 0px;
}

.portfolio>p {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 10px;
    margin-top: 0px;
}


.portfolio-img>img:hover {
   color: blue;
}








/* Footer CSS*/

.footer {
    background-color: #070211;
    color: #FFF;
}